In [5]:
import pandas as pd
import os

In [8]:
data = r'C:\Users\Nutes\Desktop\API Fitbit\dados\dados\active_minutes'
files = os.listdir(data)

files = pd.read_csv(r'C:\Users\Nutes\Desktop\API Fitbit\dados\dados\active_minutes/arquivo1.csv.csv')
files.head()

                  Time  value
0  2022-06-07 00:00:00      0
1  2022-06-07 00:01:00      0
2  2022-06-07 00:02:00      0
3  2022-06-07 00:03:00      0
4  2022-06-07 00:04:00      0